*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{
    color: #ffffff;
    text-align: center;
}

body{
    background: #1c1c1c;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align: center;
}

body img{
    width: 40%;
    height: 68%;
    float: left;
    margin: 10px 70px;
}

#contenido{
    width: 90%;
    margin: 10 auto;
}
.caja{
    width: 275px;
    height: 190px;
    margin: 5px;
    float: left;
    border: 3px solid #121212;
    background: #161616;
}

.clearfix{
    float: none;
    clear: both;
    text-align: center;
    line-height: none;
}